main {
  height: 732px;
}

main img {
  width: 10%;
  height: 10%;
  margin: 20px;
}

div[class*="info"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

div span, div p {
  margin: 20px 60px 20px 30px;
}
div p {
  font-size: 12px;
}

.contact {
  width: 375px;
  position: absolute;
  background: #4c90d6;
  top: 195px;
  left: 10px;
}

.creativecommons , .creativecommons a {
  color: white;
  text-decoration: none;
  font-size: 5px;
}

.creativecommons {
  display: flex;
  justify-content: flex-end;
  margin: 0 5px 5px 0;
}

footer {
  margin-top: -8px;
}
