main {
  margin: 7vh 0;
}
main article {
  margin: 0 auto;
  width: 50vw;
  margin-bottom: 50px;

}
h1, h2 {
  color: #4c90d6;
}

h1 {
  width: 400px;
  margin-left: -50px;
  border-bottom: 0.5px solid #4c90d6;
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}