body {
  margin: 0;
  width: 100%;
  font-family: "Trebuchet MS", Verdana, Arial;
}

main{
  background-color: #0b82e7;
  padding-left: 180px;
  padding-right:180px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;

}
