#sync1 .item {
  background: #4c90d6;
  height: 430px;
  padding: 80px 0px;
  margin: 0;
  color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sync1 .item p {
  margin: 2px 150px 5px 150px;
  font-size: 13px;
}

#sync1 .item legend {
  margin: 2px 150px 5px 150px;
  font-size: 15px;
}

#sync1 .item h1 {
  margin: -10px 150px 10px 150px;
}

#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

#sync2 .item h1 {
  font-size: 18px;
}

#sync2 .current .item {
  background: #3a74af;
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
  margin: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#sync1.owl-theme {
  position: relative;
}

#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

#sync1.owl-theme .owl-prev {
  left: 10px;
}

#sync1.owl-theme .owl-next {
  right: 10px;
}

footer {
  margin: 0;
}
