body {
  overflow-x: hidden;
}
main {
  margin-bottom: 20px;
}

#sync1 .item {
  padding: 0;
  margin: 5px;
  color: black;
  border-radius: 3px;
  text-align: center;
  height: 80vh;
  min-height: 780px;
  margin-bottom: 50px;
}
#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  background: #0c83e7;
}

.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#sync2 {
  display: flex;
  justify-content: center;
  width: 93vw;
  margin: -10px auto 0 auto;
}

#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 58px;
  margin-top: 79px;
  position: absolute;
  top: 91%;
}
#sync1.owl-theme .owl-prev {
  left: 0;
}
#sync1.owl-theme .owl-next {
  right: 0;
}
#sync1 li {
  list-style: none;
}
#sync1 .item h1 {
  margin: 20px auto;
  display: inline;
  color: #0c83e7;
  border-bottom: 5px solid #0c83e7;
}

#sync1 .item legend {
  width: 45%;
  margin: 34px auto 0 auto;
}

#sync1 .item h3 {
  width: 70%;
  text-align: center;
  margin: 0 auto 10px auto;
}

#sync1 .item p {
  width: 100%;
  text-align: justify;
  margin: 20px auto;
}

#sync1 .item ol {
  height: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#sync1 .item ol li {
  width: 40vw;
  min-width: 300px;
  margin: 5px 2vw;
  border: 3px solid #0c83e7;
  border-radius: 10px;
  padding: 2px;
  list-style-position: none;
}

#sync1 .item ol li ul {
  padding: 0;
  text-align: justify;
  border: none;
}

#sync1 .item ol li ul li {
  width: 90%;
  margin: 5px auto;
  border: none;
}

#sync1 .item ol li ul li ol {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: auto;
}

#sync1 .item ol li ul li ol li {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1750px){
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    top: 92%;
    margin-top: 78.5px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1150px) {
  #sync1 .item {
    margin-bottom: 180px;
  }
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    display: none;
  }
  #sync2 {
    width: 99vw;
  }
}

@media screen and (max-width: 750px) {
  #sync1 .item ol {
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
  }
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    display: none;
  }
  #sync2 {
    width: 99vw;
  }
  #sync1 .item ol li {
    font-size: 3.5vw;
  }
  #sync1 .item h3 {
    font-size: 4.5vw;
  }
  #sync1 .item {
    height: auto;
  }
  #sync1 .item legend {
    display: none;
  }
}
